<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address_line_1, label: 'Address', placeholder: 'Address line 1' %>
    <%= f.input :address_line_2, label: false, placeholder: 'Address line 2' %>
    <%= f.input :postcode, label: false, placeholder: 'Postcode' %>
    <%= f.input :phone %>
    <%= f.input :store_name, :collection => @locations, :include_blank => false, :prompt => "Choose Store" %>
    <%= f.input :receipt_number %>
    <%= f.input :sale_date, as: :date_picker, placeholder: 'dd/mm/yyyy', label: 'Date of Purchase' %>
    <%= f.input :product, :collection => @tyres, :include_blank => false, :prompt => "Type of Tyres Purchased" %>

<!-- file uploader hidden, styled, and js'ed -->
<div class="control-group">
  <div class="attach-set">
    <%= f.input :receipt, input_html: { hidden: true }, label: 'Upload Receipt' %>
    <div class="input-append">
    <a id="upload-btn" class="btn"><i class="icon-upload-alt"></i>Choose file</a>
    <input id="file-display" class="input-large uneditable-input" type="text">
    </div>
  </div>
</div>
<script>


</script>
<!-- end file uploader -->

    <%= f.input :subscribe, label: 'I would like to receive email communication from Yokohama in future.' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enter to WIN' %>
  </div>
<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>