<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :full_name %>
    <%= f.input :address_line_1, label: 'Address', placeholder: 'Address line 1' %>
    <%= f.input :address_line_2, label: false, placeholder: 'Address line 2' %>
    <%= f.input :postcode, label: false, placeholder: 'Postcode' %>
    <%= f.input :phone %>
    <%= f.input :store_name %>
    <%= f.input :terminal_number %>
    <%= f.input :receipt_number %>
    <%= f.input :sale_date, as: :date_picker, placeholder: 'dd/mm/yyyy' %>
    <%= f.input :sale_time, as: :time_picker, placeholder: 'HH:MM' %>
    <%= f.input :birth_year, placeholder: 'Must be over 18 years to enter' %>
    <%= f.input :subscribe, label: 'I would like to receive email communication from Ali Baba in future.' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enter to WIN' %>
  </div>
<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>