<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
<a href="../entries.csv" class="btn btn-info">Download as CSV</a>
<h1>Entries</h1>

<table class="table table-striped" style="background:#FFF;">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Store name</th>
      <th>Receipt number</th>
      <th>Product purchased</th>
      <th>Receipt image</th>
      <th>Sale date</th>
      <th>Subscribe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.email %></td>
        <td><%= entry.first_name %></td>
        <td><%= entry.last_name %></td>
        <td><%= entry.address_line_1 %></td>
        <td><%= entry.address_line_2 %></td>
        <td><%= entry.postcode %></td>
        <td><%= entry.phone %></td>
        <td><%= entry.store_name %></td>
        <td><%= entry.receipt_number %></td>
        <td><%= entry.product %></td>
        <td><a href="<%= entry.receipt %>">receipt</a></td>
        <td><%= entry.sale_date %></td>
        <td><%= entry.subscribe %></td>
        <td><%= link_to 'Delete entry', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

